extends ../shared/template
block content
  form(role='form', method='post', action='/vacations')
    input#lat(type='hidden', name='lat')
    input#lng(type='hidden', name='lng')
    .row
      .col-sm-4
          .form-group
            label(for='name') Name Your Vacation
            input#name.form-control(type='text', placeholder='Going to Hawaii', name='name')
          .form-inline
            .form-group
          label(for='start') Start
              input#start.form-control(type='date', placeholder='11/01/2014', name='start')
            .form-group
          label(for='end') End
              input#end.form-control(type='date', placeholder='11/10/2014', name='end')
              br
              button.btn.btn-default(type='submit') Add Vacation

    .col-sm-8
block scripts
  script(src='/js/user/new-vacation.js')
